<h3 class="ui header">{{t "forms.i-i-s-test14-дом-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номерДома
      class=(if (v-get validationModel "номерДома" "isInvalid") "error")
      label=(t "forms.i-i-s-test14-дом-e.номерДома-caption")
      data-test-i-i-s-test14-дом-e-номерДома=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номерДома" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.колПодъездов
      class=(if (v-get validationModel "колПодъездов" "isInvalid") "error")
      label=(t "forms.i-i-s-test14-дом-e.колПодъездов-caption")
      data-test-i-i-s-test14-дом-e-колПодъездов=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "колПодъездов" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.колЭтажей
      class=(if (v-get validationModel "колЭтажей" "isInvalid") "error")
      label=(t "forms.i-i-s-test14-дом-e.колЭтажей-caption")
      data-test-i-i-s-test14-дом-e-колЭтажей=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "колЭтажей" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.улица.имяУлицы
      class=(if (v-get validationModel.улица "имяУлицы" "isInvalid") "error")
      label=(t "forms.i-i-s-test14-дом-e.улица.имяУлицы-caption")
      data-test-i-i-s-test14-дом-e-улица-имяУлицы=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.улица "имяУлицы" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.улица.город.наименование
      class=(if (v-get validationModel.улица.город "наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-test14-дом-e.улица.город.наименование-caption")
      data-test-i-i-s-test14-дом-e-улица-город-наименование=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.улица.город "наименование" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.улица.город.плрщадьГо
      class=(if (v-get validationModel.улица.город "плрщадьГо" "isInvalid") "error")
      label=(t "forms.i-i-s-test14-дом-e.улица.город.плрщадьГо-caption")
      data-test-i-i-s-test14-дом-e-улица-город-плрщадьГо=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.улица.город "плрщадьГо" "message")}}
  </div>
</form>
